In [1]:
import pandas as pd
from sklearn.cluster import MeanShift
import numpy as np

In [2]:
data = pd.read_csv("checkins.dat", sep='|', na_values='                   ')
data.columns = data.columns.str.strip()
# x = df.replace(r'\s+', None, regex=True)
# with open('checkins.dat','r') as f:
#     next(f) # skip first row
#     df = pd.DataFrame(l.rstrip().split() for l in f)

C:\Users\Nikolay\AppData\Local\Continuum\Anaconda3\envs\py35\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# df.columns = df.columns = df.columns.str.strip()
# df['latitude'].ix[3]
df = data.dropna()

In [4]:
print(len(df))
df.head()

396634

           id  user_id  venue_id   latitude   longitude            created_at
2     984222     15824      5222  38.895112  -77.036366   2012-04-21 17:43:47
4     984234     44652      5222  33.800745  -84.410520   2012-04-21 17:43:43
8     984291    105054      5222  45.523452 -122.676207   2012-04-21 17:39:22
10    984318   2146539      5222  40.764462 -111.904565   2012-04-21 17:35:46
11    984232     93870    380645  33.448377 -112.074037   2012-04-21 17:38:18

In [5]:
sample = df[['latitude', 'longitude']][:100000]
# sample = df[['latitude', 'longitude']].sample(100000)

In [6]:
model = MeanShift(bandwidth=0.1)
clusters = model.fit_predict(sample)

In [7]:
len(clusters)

100000

In [8]:
cl = pd.Series(clusters, name='cluster')
counts = cl.value_counts()
clusters = counts.index[counts.values>15]

In [9]:
company = [
    [33.751277, -118.188740], [25.867736, -80.324116], [51.503016, -0.075479],
    [52.378894, 4.885084], [39.366487, 117.036146], [-33.868457, 151.205134]
]
company = np.array(company)

In [10]:
model.cluster_centers_

array([[  40.71720372,  -73.98928227],
       [  33.45021929, -112.00212353],
       [  41.87816635,  -87.62983043],
       ...,
       [ -36.9530211 ,  174.4688092 ],
       [  40.506718  ,  -83.7479894 ],
       [  42.404804  ,  -82.191038  ]])

In [11]:
# dist = numpy.linalg.norm(a-b)
def mindist(clcenter, company):
    dist = []
    for co in company:
        dist.append(np.linalg.norm(co - clcenter))
    return np.min(dist)
# mindist = np.vectorize(mindist)
distances = []
for cl in model.cluster_centers_:
    distances.append(mindist(cl, company))
# mindist(model.cluster_centers_[0], company)
distances = np.array(distances)
distances[:10]

array([ 16.14425006,   6.19393728,  17.598504  ,  13.42429208,
         5.77019612,   5.84919267,   6.32576853,   8.88684267,
        18.91166905,  14.46131916])

In [12]:
# np.linalg.norm(company[2] - model.cluster_centers_[0])
ind = np.argsort(distances)[:20]
ind
# distances[411]

array([ 251,  337,   48,   47,  250, 2738,   21, 2761, 2261,   88,   85,
       2982, 1807, 2343, 1239,  430, 3232, 3224,   33,   50], dtype=int64)

In [13]:
coord = model.cluster_centers_[ind]
coord = np.round(coord, decimals=2)
coord

array([[ -3.38600000e+01,   1.51210000e+02],
       [  5.23700000e+01,   4.89000000e+00],
       [  5.15000000e+01,  -1.30000000e-01],
       [  3.38100000e+01,  -1.18150000e+02],
       [  2.59100000e+01,  -8.02600000e+01],
       [  5.13700000e+01,  -1.00000000e-01],
       [  2.57900000e+01,  -8.02200000e+01],
       [  5.23100000e+01,   4.76000000e+00],
       [  5.25000000e+01,   4.96000000e+00],
       [  2.60100000e+01,  -8.02000000e+01],
       [  3.39000000e+01,  -1.18070000e+02],
       [  5.16500000e+01,  -2.00000000e-01],
       [  5.23900000e+01,   4.63000000e+00],
       [  5.15700000e+01,   1.80000000e-01],
       [  5.15800000e+01,  -3.40000000e-01],
       [  2.61400000e+01,  -8.03400000e+01],
       [  5.22600000e+01,   4.63000000e+00],
       [ -3.37800000e+01,   1.50930000e+02],
       [  3.39400000e+01,  -1.18410000e+02],
       [  2.61100000e+01,  -8.01600000e+01]])

In [14]:
# np.sort(coord, axis=0)
ind = np.lexsort((coord[:,1],coord[:,0])) 
coord = coord[ind]
coord

array([[ -3.38600000e+01,   1.51210000e+02],
       [ -3.37800000e+01,   1.50930000e+02],
       [  2.57900000e+01,  -8.02200000e+01],
       [  2.59100000e+01,  -8.02600000e+01],
       [  2.60100000e+01,  -8.02000000e+01],
       [  2.61100000e+01,  -8.01600000e+01],
       [  2.61400000e+01,  -8.03400000e+01],
       [  3.38100000e+01,  -1.18150000e+02],
       [  3.39000000e+01,  -1.18070000e+02],
       [  3.39400000e+01,  -1.18410000e+02],
       [  5.13700000e+01,  -1.00000000e-01],
       [  5.15000000e+01,  -1.30000000e-01],
       [  5.15700000e+01,   1.80000000e-01],
       [  5.15800000e+01,  -3.40000000e-01],
       [  5.16500000e+01,  -2.00000000e-01],
       [  5.22600000e+01,   4.63000000e+00],
       [  5.23100000e+01,   4.76000000e+00],
       [  5.23700000e+01,   4.89000000e+00],
       [  5.23900000e+01,   4.63000000e+00],
       [  5.25000000e+01,   4.96000000e+00]])

In [15]:
coord.flatten()

array([ -3.38600000e+01,   1.51210000e+02,  -3.37800000e+01,
         1.50930000e+02,   2.57900000e+01,  -8.02200000e+01,
         2.59100000e+01,  -8.02600000e+01,   2.60100000e+01,
        -8.02000000e+01,   2.61100000e+01,  -8.01600000e+01,
         2.61400000e+01,  -8.03400000e+01,   3.38100000e+01,
        -1.18150000e+02,   3.39000000e+01,  -1.18070000e+02,
         3.39400000e+01,  -1.18410000e+02,   5.13700000e+01,
        -1.00000000e-01,   5.15000000e+01,  -1.30000000e-01,
         5.15700000e+01,   1.80000000e-01,   5.15800000e+01,
        -3.40000000e-01,   5.16500000e+01,  -2.00000000e-01,
         5.22600000e+01,   4.63000000e+00,   5.23100000e+01,
         4.76000000e+00,   5.23700000e+01,   4.89000000e+00,
         5.23900000e+01,   4.63000000e+00,   5.25000000e+01,
         4.96000000e+00])

In [17]:
# def writeans(ans, file):
#     with open(file, 'w') as f:
#         f.write(str(ans))
def writeans(list_pc1):
    with open("answer111.txt", "w") as fout:
        fout.write(" ".join([str(num) for num in list_pc1]))

In [18]:
writeans(coord.flatten())